<template name="categoryTags">
  {{#ionModal customTemplate=true class="mymodal"}}
      {{#autoForm schema="Restaurant.Schema.CategoryTags" id="categoryTags"}}
          <div class="bar bar-header bar-stable">
              <button data-dismiss="modal" type="button" class="button button-balanced button-clear">បោះបង់</button>
              <h2 class="title">ជ្រើសរើស Tags</h2>
              <button type="button" data-dismiss="modal" class="button button-positive search-tags">យល់ព្រម</button>
          </div>
          <div class="content has-header overflow-scroll">
            <div class="row">
              <div class="col col-50">
                {{> afQuickField name='tags' options=categoryTags class="categoryTag"}}
              </div>
              <div class="col col-50">
                {{> afQuickField name='units' options=categoryUnits class="categoryUnit"}}
              </div>
            </div>
          </div>
      {{/autoForm}}
  {{/ionModal}}
</template>
