<template name="_sale_tabs">
  <!-- {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
      {{#if saleDetailExist}}
        {{> ionTab title="កម្ម៉ង់" class="order positive" iconOff="android-cart" iconOn="android-cart"}}
      {{/if}}
      <a class="tab-item" data-ion-modal="categoryTags">
        <i class="icon ion-ios-pricetags-outline positive"></i>
        ជ្រើសរើសតាមប្រភេទ
      </a>
    {{/ionTabs}}
    {{else}} -->
    {{#ionTabs style="ios"}}
      <!-- {{> ionTab title="ជ្រើសរើសផ្នែក" class="categories positive" icon="clipboard"}} -->
      {{#if saleDetailExist}}
        {{> ionTab title="កម្ម៉ង់" class="order positive" iconOff="android-cart" iconOn="android-cart"}}
      {{/if}}
      <a class="tab-item" data-ion-modal="categoryTags">
        <i class="icon ion-ios-pricetags-outline positive"></i>
        ជ្រើសរើសតាមប្រភេទ
      </a>
      <!-- {{> ionTab title="Tags" data-ion-modal="productTags" iconOff="coffee" iconOn="coffee"}} -->
    {{/ionTabs}}
  <!-- {{/if}} -->
</template>
