<template name="restaurantSaleCheckoutInvoice">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton href=goToTableLocation text='តុ'}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{currentPath}} ផ្នែក</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      {{#each categories}}
        {{#ionItem  href=goToProduct buttonRight=true avatar=true class="cursor-p item-icon-right"}}
          {{name}}
          {{>ionIcon icon="chevron-right" class="positive"}}
        {{/ionItem}}
      {{/each}}
    {{/ionContent}}
  {{/ionView}}
</template>
