<template name="company">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="restaurant.setting" text="ការកំណត់"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">ក្រុមហ៊ុន</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#with company}}
          {{#ionItem buttonRight=true avatar=true }}
            <span class="cursor-p" data-ion-modal="editCompany" data-id="{{_id}}">
             ឈ្មោះ: {{khName}}
            </span>
            <p>
              Name: {{enName}}
            </p>
            <p>
             BaseCurrency: {{baseCurrency}}
            </p>
            <p>
              អាស័យដ្ឋានៈ {{khAddress}}
            </p>
            <p>
              Address: {{enAddress}}
            </p>
          {{/ionItem}}
        {{/with}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
