<template name="materialProduct">
  {{#ionModal focusFirstInput=true title="Search"}}
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            {{> ionIcon icon="ios-search" class="placeholder-icon"}}
            <input type="text" name="materialSearch" placeholder="Search" value="{{materialQuery}}">
          </label>
        </div>
      <ul>
        {{#each products}}
          {{> _materialItem}}
        {{/each}}
      </ul>
        {{#if materialQuery}}
          <div class="col col-offset-50" >
          <button class="button button-positive loadMore">Load More</button>
          </div>
        {{/if}}
      </div>

    {{/ionModal}}
</template>

<template name="_materialItem">
      {{#ionItem buttonRight=true avatar=true }}
        <img src="{{url}}">
        <span class="cursor-p" data-ion-modal="editProduct" data-id="{{_id}}">
          {{_category.name}}
        </span>
        <p>
          <b>{{name}}({{enName}})</b>
        </p>
        <p>
          តម្លៃៈ <b>{{price}}</b>
        </p>
        <p>
          គិតជាៈ <b>{{_unit.name}}</b>
        </p>
        <p>
          Tags:
          {{#if tags}}
            <b>{{tags}}</b>
          {{else}}
            No tags
          {{/if}}
        </p>
        <button data-action="confirm" class=" button button-clear">
          {{> ionIcon icon="close-circled"}}</button>

      {{/ionItem}}
</template>
