<template name="materialProduct">
  {{#ionModal focusFirstInput=true title="Search"}}
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            {{> ionIcon icon="ios-search" class="placeholder-icon"}}
            <input type="text" name="materialSearch" placeholder="Search" value="{{materialQuery}}" autofocus>
          </label>
        </div>
      <ul>
        {{#each materials}}
          {{> _materialItem}}
        {{/each}}
      </ul>
        {{#if materialQuery}}
          <div class="col col-offset-50" >
          <button class="button button-positive loadMore">Load More</button>
          </div>
        {{/if}}
      </div>

    {{/ionModal}}
</template>

<template name="_materialItem">
      <a href="#" class="cursor-p item add-item">

        <img src="{{url}}">
        <span>
        <b>{{name}}({{enName}})</b> |  តម្លៃៈ <b>{{price}}</b>
        </span>
        <p>
          គិតជាៈ <b>{{_unit.name}}</b>
        </p>
      </a>
</template>
