<template name="productNew">
    {{#ionModal customTemplate=true}}
        {{#autoForm collection="Restaurant.Collection.Products" id="productNew" type="insert"}}
            <div class="bar bar-header bar-stable">
                <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
                <h2 class="title">Create Product</h2>
                <button type="submit" class="button button-positive button-clear">Add</button>
            </div>
            <div class="content has-header overflow-scroll">
                {{> afQuickField name='name'}}
                {{> afQuickField name='unitId'}}
                {{> afQuickField name='price'}}
                {{> afQuickField name='categoryId'}}
                {{> afQuickField name='productType'}}
                {{> afQuickField name='status' type="hidden" value="enable"}}
                {{> afQuickField name='description'}}
                {{> afQuickField name="picture"}}
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>
