<template name="product">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="restaurant.setting" text="Setting"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Product</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="productNew">{{> ionIcon icon="ios-plus-empty"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each products}}
          {{#ionItem buttonRight=true avatar=true }}
            <img src="{{url}}">
            <span class="cursor-p" data-ion-modal="editProduct" data-id="{{_id}}">
              {{name}}
            </span>
            <p>
              {{_category.name}}
            </p>
            <button data-action="confirm" class=" button button-clear">
              {{> ionIcon icon="close-circled"}}</button>

          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
