<template name="restaurantSaleList">
      <div class="col col-33" >
        <div class="list card">

        <label class="item-input-wrapper">
          {{> ionIcon icon="ios-search" class="placeholder-icon"}}
          <input type="text" placeholder="ស្វែងរក" value="{{searchListQuery}}" style="width: 100%; border: 1px solid #ddd" class="search">
        </label>
      </div>
        <br>

        <ul >
          {{#each products}}
            {{> _saleListItem}}
          {{/each}}

              <div class="col col-offset-50" >
                <button class="button button-positive loadMoreProduct">បង្ហាញបន្ថែម</button>
              </div>
        </ul>
      </div>
</template>


<template name="_saleListItem">
      <a href="#" class="item cursor-p order">
        <p>
          <b>{{name}}({{enName}})</b> | តម្លៃៈ <b>{{price}}</b> | គិតជាៈ <b>{{_unit.name}}</b>
        </p>
      </a>
</template>
