<template name="unit">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="restaurant.setting" text="ការកំណត់"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">ឯកតា</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear" data-ion-modal="unitNew">{{> ionIcon icon="ios-plus-empty"}}</button>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}

            <div class="card row">
                <div class="col col-50 text-center"><span class="positive">ឈ្មោះ</span></div>
                <div class="col col-30 text-center"><span class="positive">ពិពណ៌នា</span></div>
                <div class="col col-20 text-center"><span class="positive">ជម្រើស</span></div>
            </div>
            <div class="card">
                {{#each units}}
                    <div class="row">
                        <div class="col col-50" style="border: 1px solid #ddd;">{{name}}</div>
                        <div class="col col-30" style="border: 1px solid #ddd;">{{description}}</div>

                        <div class="col col-10 text-center" style="border: 1px solid #ddd;">
                            <a href="#" class="positive" data-ion-modal="editUnit"
                               data-id="{{_id}}">{{>ionIcon icon="edit"}}កែប្រែ</a>
                        </div>
                        <div class="col col-10 text-center" style="border: 1px solid #ddd;">
                            <a href="#" class="remove-unit assertive">{{>ionIcon icon="trash-b"}}លុប</a>
                        </div>
                    </div>
                {{/each}}
            </div>

            <!--before Changed-->
            <!--{{#ionList}}
                {{#each units}}
                    {{#ionItem buttonRight=true avatar=true }}
            <span class="cursor-p" data-ion-modal="editUnit" data-id="{{_id}}">
              {{name}}
            </span>
            <p>
              {{description}}
            </p>
            <button data-action="confirm" class=" button button-clear">
              {{> ionIcon icon="close-circled"}}</button>

          {{/ionItem}}
                {{/each}}
            {{/ionList}}-->
            <!--before Changed-->

        {{/ionContent}}
    {{/ionView}}
    {{> _settings}}
</template>
