<template name="unitNew">
    {{#ionModal customTemplate=true}}
        {{#autoForm collection="Restaurant.Collection.Units" id="unitNew" type="insert"}}
            <div class="bar bar-header bar-stable">
                <button data-dismiss="modal" type="button" class="button button-clear">បោះបង់</button>
                <h2 class="title">បង្កើតឯកតា</h2>
                <button type="submit" class="button button-positive button-clear">រក្សាទុក</button>
            </div>
            <div class="content has-header overflow-scroll">
              {{> afQuickField name='name'}}
              {{> afQuickField name='description'}}
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>
