<template name="editTableLocation">
  {{#ionModal customTemplate=true}}
      {{#autoForm collection="Restaurant.Collection.TableLocations" doc=tableLocation id="tableLocationNew" type="update"}}
          <div class="bar bar-header bar-stable">
              <button data-dismiss="modal" type="button" class="button button-clear">បោះបង់</button>
              <h2 class="title">កែប្រែទីតាំងតុ</h2>
              <button type="submit" class="button button-positive button-clear">កែប្រែ</button>
          </div>
          <div class="content has-header overflow-scroll">
            {{> afQuickField name='name'}}
            {{> afQuickField name='description'}}
          </div>
      {{/autoForm}}
  {{/ionModal}}
</template>
