<template name="tableLocations">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="restaurant.data" text="Data"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Table Location</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="tableLocationNew">{{> ionIcon icon="ios-plus-empty"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each tableLocations}}
          {{#ionItem buttonRight=true avatar=true }}
            <span class="cursor-p" data-ion-modal="editTableLocation" data-id="{{_id}}">
              {{name}}
            </span>
            <p>
              {{description}}
            </p>
            <button data-action="confirm" class=" button button-clear">
              {{> ionIcon icon="close-circled"}}</button>

          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
