<template name="layout">
    {{#ionBody}}
        {{> ionNavBar class="bar-assertive"}}
            <!-- {{#ionNavView}} -->
        {{#if currentUser}}
            {{#if currentUser.profile.approved}}
                {{> yield}}
            {{else}}
                {{#ionView}}
                    {{#ionContent}}
                        <div class="card">
                            <div class="col" align="center"><h3>សំុសិទ្ធពី Admin របស់អ្នកដើម្បីចូលប្រើប្រាស់ <i
                                    class="icon ion-sad-outline"></i></h3></div>
                            <div class="col" align="center">
                                <a href="#" class="button button-outline button-positive sign-out"><i
                                        class="icon ion-log-out"></i>ចាកចេញ</a>
                            </div>
                        </div>
                    {{/ionContent}}
                {{/ionView}}
            {{/if}}
        {{else}}
            {{#contentFor "headerTitle"}}
                <h1 class="title">ប្រព័ន្ធគ្រប់គ្រងភោជនីយដ្ឋាន</h1>
            {{/contentFor}}
            {{> atForm}}
        {{/if}}
            <!-- {{/ionNavView}} -->
    {{/ionBody}}
</template>


<template name="_tabs">
    {{#if isAndroid}}
        {{#ionTabs style="android" class="tabs-background-positive tabs-color-light"}}
            {{> ionTab title="My Order" path="tabs.one" icon="android-home"}}
            {{> ionTab title="Order" path="tabs.two" icon="android-star"}}
        {{/ionTabs}}
    {{else}}
        {{#ionTabs style="ios"}}
            {{> ionTab title="My Order" path="tabs.one" iconOff="ios-home-outline" iconOn="ios-home"}}
            {{> ionTab title="Order" path="tabs.two" iconOff="ios-star-outline" iconOn="ios-star"}}
        {{/ionTabs}}
    {{/if}}
</template>
