<template name="editStockIn">
    {{#ionModal customTemplate=true}}
        {{#autoForm collection="Restaurant.Collection.StockIn" doc=stockIn id="editStockIn" type="update"}}
            <div class="bar bar-header bar-stable">
                <button data-dismiss="modal" type="button" class="button button-clear">បោះបង់</button>
                <h2 class="title">បង្កើតស្តុកទំនិញ</h2>
                <button class="button button-positive button-clear">រក្សាទុក</button>
            </div>
            <div class="content has-header overflow-scroll">
              <label class="item item-input">
                <span class="input-label">ឈ្មោះវត្ថុធាតុដើម</span>
                <input type="text" name="materialName" value="{{stockIn._material.name}}">
              </label>
              {{> afQuickField name='stockInDate' type="hidden" readonly=true}}
              {{> afQuickField name='materialId' readonly=true type="hidden"}}
              {{> afQuickField name='price'}}
              {{> afQuickField name='qty'}}
              {{> afQuickField name='type'}}
              {{> afQuickField name='description'}}
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>
