<template name="editExchangeRate">
  {{#ionModal customTemplate=true}}
      {{#autoForm collection="Restaurant.Collection.ExchangeRates" doc=exchangeRate id="exchangeRateEdit" type="update"}}
          <div class="bar bar-header bar-stable">
              <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
              <h2 class="title">Update ExchangeRate</h2>
              <button type="submit" class= "button button-positive button-clear">Update</button>
          </div>
          <div class="content has-header overflow-scroll">
            {{> afQuickField name='name'}}
            {{> afQuickField name='description'}}
          </div>
      {{/autoForm}}
  {{/ionModal}}
</template>
