<template name="editExchangeRate">
    {{#ionModal customTemplate=true}}
        <div class="bar bar-header bar-stable">
            <button data-dismiss="modal" type="button" class="button button-clear">បោះបង់</button>
            <h2 class="title">កែប្រែអត្រប្តូរប្រាក់</h2>
            <button id="update-exchange-rate" class="button button-positive button-clear">កែប្រែ</button>
        </div>
        <div class="content has-header overflow-scroll">
            <h4> Base Currency: <b>{{exchangeRate.base}} ({{exchangeRate.symbol}})</b></h4>
            <input class="hidden" type="hidden" id="exchange-rate-id" value="{{exchangeRate._id}}">
            <input class="hidden" type="hidden" id="base-currency-id" value="{{exchangeRate.base}}">
            <input class="hidden" type="hidden" id="base-currency-symbol" value="{{exchangeRate.symbol}}">
            <div class="row">
                <div class="col col-50">
                    <b>1{{exchangeRate.symbol}} Exchange to</b>
                </div>
                <div class="col col-50">
                    <b>Value</b>
                </div>
            </div>
            <span id="to-currency-list">
                {{#each exchangeRate.rates}}
                    <div class="row">
                        <div class="col col-40">
                            <label class="item item-input">
                                <input type="text" class="to-currency-id form-control" value="{{toCurrencyId}}"
                                       readonly>
                            </label>
                        </div>
                        <div class="col col-40">
                            <label class="item item-input">
                                <input type="text" class="to-currency-value form-control" value="{{rate}}">
                            </label>
                        </div>
                        <div class="col col-20" style="display: none;">
                            <label class="item item-input">
                                <input type="text" class="to-currency-symbol form-control" value="{{symbol}}" readonly>
                            </label>
                        </div>
                    </div>
                {{/each}}
            </span>
            <!--<div class="row">
                <button class="button button-positive" id="save-exchange-rate">Save</button>
            </div>-->

        </div>
    {{/ionModal}}
</template>
