<template name="_data">
  {{#ionTabs style="ios"}}
    {{#if isInRole 'setting, super'}}
      {{> ionTab title="Vipcards" path="restaurant.vipcard" iconOff="cash" iconOn="cash" class="assertive"}}
    {{/if}}
    {{#if isInRole 'cashier, setting'}}
      {{> ionTab title="ស្តុកទំនិញ" path="restaurant.stocks" iconOff="soup-can-outline" iconOn="soup-can" class="assertive"}}
      {{> ionTab title="បិទបញ្ជី" path="restaurant.eop" iconOff="android-list" iconOn="android-list"}}
      {{> ionTab title="អតិថិជន" path="restaurant.customer" iconOff="ios-people" iconOn="ios-people"}}
      {{> ionTab title="អ្នកផ្គត់ផ្គង់" path="restaurant.supplier" iconOff="network" iconOn="network"}}
      {{> ionTab title="កំណត់សំគាល់" path="restaurant.note" iconOff="compose" iconOn="compose"}}
      {{> ionTab title="ទីតាំងតុ" path="table.locations" iconOff="android-pin" iconOn="android-pin"}}
      {{> ionTab title="លេខតុ" path="tables" iconOff="flag" iconOn="flag"}}
    {{/if}}
  {{/ionTabs}}
</template>
