<template name="_settings">
  {{#ionTabs style="ios"}}
    {{#if isInRole 'setting, super'}}
      {{> ionTab title="កំណត់សិទ្ធអ្នកប្រើប្រាស់" path="restaurant.user.profiles" iconOff="ios-people" iconOn="ios-people" class="assertive"}}
    {{/if}}
    {{#if isInRole 'cashier, setting'}}
      {{> ionTab title="ក្រុមហ៊ុន" path="company" iconOff="ios-home-outline" iconOn="ios-home"}}
      {{> ionTab title="អត្រាប្តូរប្រាក់" path="exchange.rate" iconOff="cash" iconOn="cash"}}
      {{> ionTab title="ឯកតា" path="unit" iconOff="cube" iconOn="cube"}}
      {{> ionTab title="ផ្នែក" path="category" iconOff="clipboard" iconOn="clipboard"}}
      {{> ionTab title="ផ្នែកវត្ថុធាតុដើម" path="materialCategory" iconOff="funnel" iconOn="funnel"}}
      {{> ionTab title="ទំនិញ" path="product" iconOff="beer" iconOn="beer"}}
      {{> ionTab title="វត្ថុធាតុដើម" path="restaurant.materials" iconOff="erlenmeyer-flask" iconOn="erlenmeyer-flask"}}
    {{/if}}
  {{/ionTabs}}
</template>
