<template name="restaurantData">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="home" text="ទំព័រដើម"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">ទិន្នន័យ</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
      {{#if isInRole 'setting, super'}}
      <a class="item item-icon-left item-icon-right" href="/restaurant/vipcards">
          {{> ionIcon icon="card" class="assertive"}}
        Vipcards
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
      </a>
      {{/if}}
      <a class="item item-icon-left item-icon-right" href="/restaurant/stocks">
        {{> ionIcon icon="soup-can" class="assertive"}}
        ស្តុកទំនិញ
        {{> ionIcon icon="ios-arrow-forward" class="positive"}}
      </a>
      <a class="item item-icon-left item-icon-right" href="/restaurant/eop">
        {{> ionIcon icon="android-list" class="assertive"}}
        បិទបញ្ជី
        {{> ionIcon icon="ios-arrow-forward" class="positive"}}
      </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/customers">
          {{> ionIcon icon="ios-people" class="assertive"}}
          អតិថិជន
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/suppliers">
          {{> ionIcon icon="network" class="assertive"}}
          អ្នកផ្គត់ផ្គង់
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/notes">
          {{> ionIcon icon="compose" class="assertive"}}
          កំណត់សំគាល់
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <!-- <a class="item item-icon-left item-icon-right" href="/restaurant/staffs">
          {{> ionIcon icon="man" class="assertive"}}
          បុគ្គលិក
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a> -->
        <a class="item item-icon-left item-icon-right" href="/restaurant/table-locations">
          {{> ionIcon icon="android-pin" class="assertive"}}
          ទីតាំងតុ
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/tables">
          {{> ionIcon icon="flag" class="assertive"}}
         លេខតុ
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
