<template name="restaurantReport">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="home" text="ទំព័រដើម"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">របាយការណ៍</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        <a class="item item-icon-left item-icon-right" href="/restaurant/product-detail-report">
          {{> ionIcon icon="ios-paper-outline" class="assertive"}}
              របាយការណ៍ ព័ត៌មានទំនិញ
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>

        <a class="item item-icon-left item-icon-right" href="/restaurant/summary-report">
          {{> ionIcon icon="ios-paper-outline" class="assertive"}}
            របាយការណ៍ សង្ខេប
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/sale-report">
          {{> ionIcon icon="ios-paper-outline" class="assertive"}}
            របាយការណ៍ លក់
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/payment-report">
          {{> ionIcon icon="ios-paper-outline" class="assertive"}}
            របាយការណ៍ បង់ប្រាក់
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/sale-detail-product-report">
          {{> ionIcon icon="ios-paper-outline" class="assertive"}}
            របាយការណ៍ លក់លម្អិត
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/sale-detail-report">
          {{> ionIcon icon="ios-paper-outline" class="assertive"}}
            របាយការណ៍ លក់លម្អិតតាមទំនិញ
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
          <a class="item item-icon-left item-icon-right" href="/restaurant/outstanding-report">
              {{> ionIcon icon="ios-paper-outline" class="assertive"}}
              របាយការណ៍ អតិថិជនជំពាក់
              {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          </a>
          <a class="item item-icon-left item-icon-right" href="/restaurant/officer-cheque-report">
              {{> ionIcon icon="ios-paper-outline" class="assertive"}}
              របាយការណ៍ លក់សម្រាប់បុគ្គលិក (Officer Cheque)
              {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          </a>
          <a class="item item-icon-left item-icon-right" href="/restaurant/officer-cheque-detail-report">
              {{> ionIcon icon="ios-paper-outline" class="assertive"}}
              របាយការណ៍ លក់លម្អិតសម្រាប់បុគ្គលិក (Officer Cheque with Detail)
              {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          </a>
          <a class="item item-icon-left item-icon-right" href="/restaurant/stock-in-report">
              {{> ionIcon icon="ios-paper-outline" class="assertive"}}
              របាយការណ៍ នាំទំនិញចូលឃ្លាំង
              {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          </a>
          <a class="item item-icon-left item-icon-right" href="/restaurant/stock-in-group-name-report">
            {{> ionIcon icon="ios-paper-outline" class="assertive"}}
            របាយការណ៍ នាំទំនិញចូលឃ្លាំងសរុបតាមមុខទំនិញ
            {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          </a>
          <a class="item item-icon-left item-icon-right" href="/restaurant/stock-in-adjustment-report">
              {{> ionIcon icon="ios-paper-outline" class="assertive"}}
              របាយការណ៍ កែសម្រួលទំនិញក្នុងឃ្លាំង
              {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          </a>
          <a class="item item-icon-left item-icon-right" href="/restaurant/stock-in-os-report">
              {{> ionIcon icon="ios-paper-outline" class="assertive"}}
              របាយការណ៍ សមតុល្យចុងគ្រា
              {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          </a>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
