<template name="restaurantSetting">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="home" text="Home"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Setting</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
          <a class="item item-icon-left item-icon-right" href="/restaurant/company">
              {{> ionIcon icon="ios-home-outline" class="assertive"}}
              Company
              {{> ionIcon icon="ios-arrow-forward" class="positive"}}
          </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/exchange-rate">
          {{> ionIcon icon="cash" class="assertive"}}
          Exchange
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/unit">
          {{> ionIcon icon="cube" class="assertive"}}
          Unit
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/category">
          {{> ionIcon icon="clipboard" class="assertive"}}
          Category
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
        <a class="item item-icon-left item-icon-right" href="/restaurant/product">
          {{> ionIcon icon="beer" class="assertive"}}
          Product
          {{> ionIcon icon="ios-arrow-forward" class="positive"}}
        </a>
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
