<template name="current_user" xmlns="http://www.w3.org/1999/html">
    {{#if currentUser}}

        <div class="container">
            <div class="row">
                <div class="box-third container-1">
                    <div class="col">
                        <img src="rabbit.jpg" height="260px" width="100%">
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="box-second container-1">
                    <div class="col">
                        <h4 class="font-one"><i class="fa fa-line-chart hvr-grow"></i> របាយការណ៍លក់ប្រចាំខែនីមួយៗ</h4>
                    </div>
                </div>

                <div class="box-second container-1">
                    <div class="col">
                        <h4 class="font-one"><i class="fa fa-bar-chart-o hvr-grow"></i> របាយការណ៍លក់ប្រចាំខែនីមួយៗ</h4>
                    </div>
                </div>
            </div>
        </div>


        <!--ទំព័រដើម-->
        <div class="container">
            <div class="row">
                <div class="box-first container">
                    <div class="col">
                        {{> chart}}
                    </div>
                </div>

                <div class="box-first container">
                    <div class="col">
                        {{> barChart}}
                    </div>
                </div>
            </div>


            <!--Pop Menu-->
            <!--ទិន្នន័យ-->
            <div class="row">
                <div class="box box-1 container hvr-grow-shadow">
                    <div class="col"><br>
                        <div style="text-align: center">
                            <a href="#">
                                <i class="fa fa-home text-2"></i>
                            </a>
                            <a href="#" style="text-decoration: none">
                                <div class="text-teal font-one">ទំព័រដើម</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!--លក់ថ្មី-->
                <div class="box box-2 container hvr-grow-shadow">
                    <a href="/restaurant/selectTable" style="text-decoration: none">
                        <div class="col"><br>
                            <div style="text-align: center">
                                <!--<a href="/restaurant/selectTable">-->
                                <i class="fa fa-coffee text-2"></i>

                                <!--<a href="/restaurant/selectTable" style="text-decoration: none">-->
                                <div class="text-teal font-one">លក់ថ្មី</div>
                                <!--</a>-->
                            </div>
                        </div>
                    </a>
                </div>

                <!--តារាងវិក័យបត្រ-->
                <div class="box box-3 container hvr-grow-shadow">
                    <a href="/restaurant/payment" style="text-decoration: none">
                        <div class="col"><br>
                            <div style="text-align: center">
                                <i class="fa fa-usd text-2"></i>
                                <div class="text-teal font-one">តារាងវិក័យប័ត្រ</div>
                            </div>
                        </div>
                    </a>
                </div>

                <!--ទិន្នន័យ-->
                <div class="box box-4 container hvr-grow-shadow">
                    <a href="/restaurant/data" style="text-decoration: none">
                        <div class="col"><br>
                            <div style="text-align: center">
                                <i class="fa fa-database text-2"></i>
                                <div class="text-teal font-one">ទិន្នន័យ</div>
                            </div>
                        </div>
                    </a>
                </div>

                <!--ការកំណត់-->
                <div class="box box-5 container hvr-grow-shadow">
                    <a href="/restaurant/setting" style="text-decoration: none">
                        <div class="col"><br>
                            <div style="text-align: center">
                                <i class="fa fa-cogs text-2"></i>
                                <div class="text-teal font-one">ការកំណត់</div>
                            </div>
                        </div>
                    </a>
                </div>

                <!--របាយការណ៍-->
                <div class="box box-6 container hvr-grow-shadow">
                    <a href="/restaurant/report" style="text-decoration: none">
                        <div class="col"><br>
                            <div style="text-align: center">
                                <i class="fa fa-book text-2"></i>
                                <div class="text-teal font-one">របាយការណ៍</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {{/if}}
</template>