<template name="restaurantActivePaymentInvoice">
  {{#contentFor "headerButtonLeft"}}
   {{>ionNavBackButton href=goToActivePayment title="បោះបង់"}}
 {{/contentFor}}

 {{#contentFor "headerTitle"}}
   <h1 class="title">គិតលុយវិក័យប័ត្រៈ {{paymentInvoiceNumber}}</h1>
 {{/contentFor}}

 {{#ionView}}
   {{#ionContent}}
      {{#autoForm collection="Restaurant.Collection.Payments" doc=sale id="activePayment" type="insert"}}
          <div class="bar bar-header" >
            <button type="submit" class="button button-positive">រក្សាទុក</button>
            <button type="submit" class="button button-balanced savePrint">រក្សាទុក&Print</button>
          </div>
          <div class="content has-header overflow-scroll">
            {{> afQuickField name='customerId'}}
            {{> afQuickField name='saleId' readonly=true}}
            {{> afQuickField name='paymentDate' type='datetime-local'}}
            {{> afQuickField name='dueAmount' readonly=true}}
            {{> afQuickField name='paidAmount'}}
            {{> afQuickField name='balanceAmount' readonly=true}}
            {{> afQuickField name='description' type="textarea"}}
          </div>
      {{/autoForm}}
  {{/ionContent}}
{{/ionView}}
</template>
