<template name="restaurantMultiInvoice">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="restaurant.payment.list" text="ត្រឡប់ក្រោយ"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">ទូរទាត់វិក័យប័ត្រច្រើនក្នុងពេលតែមួយ</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    {{#autoForm schema="Restaurant.Schema.MultiPayment" id="multiPayment"}}
        <div class="content has-header overflow-scroll">
          <div class="row">
            <div class="col col-33">
              {{> afQuickField name='selectLocation'}}
            </div>
            <div class="col col-33">
              {{> afQuickField name='selectTable'  options=tableByLocation}}
            </div>
            <hr>
          </div>
          {{#if invoiceNotZero invoices}}
          <div class="row">
            <div class="col col-10">
              <label class="item-input-wrapper">
                <label class="toggle">
                  <input type="checkbox" class="check-all" checked="{{isInvoiceObjEmpty}}">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
                <span class="sale-status-label">ជ្រើសរើសយកទាំងអស់</span>
              </label>
            </div>
          </div>
          {{#each invoices}}
            <div class="row">
              <div class="col col-33">
                <label class="item-input-wrapper">
                  <label class="toggle">
                    <input type="checkbox" class="invoice" checked="{{markAsChecked _id}}">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                  </label>
                  <span class="sale-status-label">&nbsp;វិក័យប័ត្រលេខ: {{_id}} | សរុប: {{total}}&nbsp;៛</span>
                </label>
              </div>
            </div>
          {{/each}}
          <div class="row">
            <div class="col col-10">
              <a href="#" class="button button-positive payment">បង់ប្រាក់</a>
            </div>
          </div>
        {{else}}
          <div class="row">
            <div class="col col-50">
              <div class="card"><p align='center'>អត់មានទិន្នន័យ</p></div>
            </div>
          </div>
        {{/if}}
        </div>

    {{/autoForm}}

    {{/ionContent}}
  {{/ionView}}
</template>
