<template name="restaurantActivePayment">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="home" text="ទំព័រដើម"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">ទូរទាត់ទឹកប្រាក់</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a href="/restaurant/payment/search" class="button button-clear">{{> ionIcon icon="search"}}</a>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
      <div class="row">
        <div class="col col-10">
          <label class="item-input-wrapper">
            <label class="toggle">
              <input type="checkbox" class="sale-status" checked="true">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
            <span class="sale-status-label">កំពុងលក់</span>
          </label>
        </div>
      </div>
        {{#if saleIsNotZero}}
          {{#each activeSales}}
            {{#ionItem  href=goToActivePaymentInvoice buttonRight=true avatar=true class="item-icon-right"}}
              {{> activeSale}}
            {{/ionItem}}
          {{/each}}
        {{else}}
          <div class="list card">
            <div class="item item-text-wrap" align="center">
              <h2>អត់មានទិន្នន័យ</h2>
            </div>
          </div>
        {{/if}}
      {{/ionList}}
      {{#if hasMore}}
        <div class="col col-offset-50">
          <button class="button button-positive loadMore">បង្ហាញបន្ថែម</button>
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>


<template name="activeSale">
  <span>
    ទីតាំង: {{_table._tableLocation.name}} |
    តុលេខៈ {{_table.name}} |
    វិក័យប័ត្រលេខៈ <b>{{_id}}</b>

  </span>
  <p>
    លក់នៅថ្ងៃទី: <b>{{moFormat saleDate 'DD/MM/YY HH:mm:ss'}}</b> |
    អតិថិជន: <b>{{_customer.name}}</b>
  </p>
  <p>
    រាយមុខទំនិញៈ
    {{#if listSaleDetails}}
      {{#each listSaleDetails}}
        <b>{{_product.name}},&nbsp; </b>
      {{/each}}
    {{else}}
      {{> ionSpinner icon="ios-small"}}
    {{/if}}
  </p>
  <p>
    ស្ថានភាពៈ {{status}}
  </p>
  <p>
    ទឹកប្រាក់សរុបៈ <b>{{total}}</b> |
    បានបង់ៈ <b>{{paidAmount}}</b> |
    នៅសល់ៈ <b>{{balanceAmount}}</b>
  </p>
  <!-- <button data-action="confirm" class=" button button-clear">
    {{> ionIcon icon="chevron-right" class="positive"}}
  </button> -->
</template>
