<template name="saleSearch">
  {{#ionModal focusFirstInput=true title="ស្វែងរក" class="mymodal"}}
        <div class="row">
          {{#each locations}}
            <div class="col col-20">
            <label class="item-input-wrapper">
              <label class="toggle">
                <input type="checkbox" class="location">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
              {{name}}
            </label>
            </div>
          {{/each}}
        </div>
        <div class="item item-input-inset">
          {{> ionIcon icon="ios-search" class="placeholder-icon"}}
          <input type="text" placeholder="Search" value="{{searchQuery}}">
        </div>
      <div class="list">
      <ul>
        {{#each products}}
          {{#ionItem  href=goToActivePaymentInvoice buttonRight=true avatar=true class="item-icon-right animated bounceInDown"}}
            {{> activeSale}}
          {{/ionItem}}
        {{/each}}
        </ul>
      </div>

    {{/ionModal}}
</template>
