<template name="restaurantNewEop">
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="restaurant.product" text="ទំនិញ"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
      <h1 class="title">បង្កើតបញ្ជី</h1>
    {{/contentFor}}
    {{#ionContent}}
      {{#ionView}}
      {{#autoForm collection="Restaurant.Collection.EndOfProcess" id="newEop" type="insert" buttonContent="រក្សាទុក"}}
          <div class="content has-header overflow-scroll">
            <label class="item item-input">
              <span class="input-label">ចាប់ផ្តើមបិទថ្ងៃទី</span>
              <input type="text" name="tmpStartEopDate" autofocus="true">
            </label>
            <label class="item item-input">
              <span class="input-label">បញ្ជប់ការបិទថ្ងៃទី</span>
              <input type="text" name="tmpEndEopDate" autofocus="true">
            </label>
            {{> afQuickField name='startEopDate'}}
            {{> afQuickField name='endEopDate'}}
          </div>
          <div class="bar bar-header">
            <button type="submit" class="button button-positive">រក្សាទុក</button>
          </div>
      {{/autoForm}}
      {{/ionView}}
    {{/ionContent}}

</template>
