<template name="restaurantEop">
    {{#contentFor "headerButtonLeft"}} {{>ionNavBackButton path="restaurant.data" text="ទិន្នន័យ"}} {{/contentFor}} {{#contentFor "headerTitle"}}
    <h1 class="title">បិទបញ្ជី</h1> {{/contentFor}} {{#contentFor "headerButtonRight"}}

    {{/contentFor}} {{#ionContent}}
  {{#if isSaleNotExist}}
    <div class="card row col" align="center">
        អត់មានទិន្នន័យ
      </div>
  {{else}}
    {{#each sale in sales}}
    <div class="card">
        <span class="hidden saleId">{{sale._id}}</span>
        <div class="col col-2">
            <strong class="positive">
            <i class="ion-calendar"></i>
            ថ្ងៃទី: {{sale._id}},
            {{#if checkIndex sale.index}}
            កាត់វិក័យប័ត្រទាំងអស់:
              <input type="checkbox" class="reduceAllInvoice">
            {{/if}}
          </strong>
        </div>
        {{#each obj in sale.data}}
        <div class="col col-2 sale-obj-parents">
            <span class="hidden sale-obj-id">{{obj.saleId}}</span>
            <ul>
              <hr>
                <i class="ion-ios-list-outline"></i>
                <strong>វិក័យប័ត្រ: {{obj.saleId}},
                  {{#if checkIndex sale.index}}
                    កាត់វិក័យប័ត្រនេះ:
                    {{#if saleId obj.saleId}}
                    <input type="checkbox" class="current-invoice" checked>
                    {{else}}
                    <input type="checkbox" class="current-invoice">
                    {{/if}}
                  {{/if}}
                </strong></ul>
        </div>
        <div class="row">
            <div class="col col-3 text-center"><span class="dark">វត្ថុធាតុដើមដែលត្រូវកាត់</span></div>
            <div class="col col-3 text-center"><span class="dark">ចំនួនកាត់ក្នុងមួយឯកតា</span></div>
            <div class="col col-3 text-center"><span class="dark">បរិមាណក្នុងវិក័យប័ត្រ</span></div>
            <div class="col col-3 text-center"><span class="dark">សរុបកាត់ចំនួន</span></div>
        </div>

        {{#each obj.materials}}
        <div class="card row">
            <div class="col col-3">{{data.materialDoc.name}}</div>
            <div class="col col-3 text-center" >{{data.qty}}</div>
            <div class="col col-3 text-center">{{fromSaleDetailQty}}</div>
            <div class="col col-3 text-center">{{data.totalQty}}</div>
        </div>
        {{/each}} {{/each}}
    </div>
    {{/each}}
    &nbsp;<a  class="button button-balanced save">
      Save
    </a>
    {{/if}}
    {{/ionContent}}
    {{> _data}}
</template>
