<template name="restaurantEop">
    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="restaurant.data" text="ទិន្នន័យ"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
      <h1 class="title">បិទបញ្ជី</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
    <a href="/restaurant/eop/new" class="button button-clear">
      {{> ionIcon icon="ios-plus-empty"}}
    </a>
    {{/contentFor}}
    {{#ionContent}}
      <div class="card row">
        <div class="col col-10 text-center"><span class="positive">លេខកូដ</span></div>
        <div class="col col-67 text-center"><span class="positive">ថ្ងៃបិទបញ្ជី</span></div>
        <div class="col col-20 text-center"><span class="positive">ជម្រើស</span></div>
      </div>
      <div class="card">
      {{#if noEops}}
      <div class="col" align="center">
        អត់មានទិន្នន័យ
      </div>
      {{else}}
      {{#each eops}}
        <div class="row">
          <div class="col col-10" style="border: 1px solid #ddd;">{{_id}}</div>
          <div class="col col-67" style="border: 1px solid #ddd;">{{moFormat startEopDate 'YYYY-MM-DD'}} ដល់ {{moFormat endEopDate 'YYYY-MM-DD'}}</div>

            <div class="col col-20 text-center" style="border: 1px solid #ddd;">
            {{#if findLastRecord _id}}
              <a href="#" class="remove-eop assertive">{{>ionIcon icon="trash-b"}}លុប</a>
            {{/if}}
          </div>
        </div>
      {{/each}}
      {{/if}}
    </div>
    {{/ionContent}}
    {{> _data}}
</template>
