<template name="newTag">
    {{#ionModal customTemplate=true}}
        {{#autoForm collection="Reading.Collection.Tags" id="newTag" type="insert"}}
            <div class="bar bar-header bar-stable">
                <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
                <h2 class="title">Create Category</h2>
                <button class="button button-positive button-clear">Add</button>
            </div>
            <div class="content has-header overflow-scroll">
                {{>afQuickField name="name"}}
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>