.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px;
    margin-left: 0px;
}

.item-input-wrapper-custom{
  display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -moz-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-flex: 1;
-webkit-flex: 1 0;
-moz-box-flex: 1;
-moz-flex: 1 0;
-ms-flex: 1 0;
flex: 1 0;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
-moz-align-items: center;
align-items: center;
-webkit-border-radius: 4px;
border-radius: 4px;
padding-right: 8px;
padding-left: 8px;
}

.item-custom {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 4px;
    border-width: 1px;
}
