<template name="restaurantVipcard">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="restaurant.data" text="ទិន្នន័យ"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Vipcard</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  <a href="/restaurant/vipcards/new" class="button button-clear">{{> ionIcon icon="ios-plus-empty"}}</a>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#if vipcardsNotZero}}
          {{#each vipcards}}
            {{#ionItem  buttonRight=true avatar=true class="item-icon-right"}}

            <span class="cursor-p vipcard-name">
              ឈ្មោះ: {{name}}
            </span>
            <p>
              ចំនួនបញ្ចុះតម្លៃ: {{value}}
            </p>
            <p>
              ថ្ងៃផុតកំណត់: {{moFormat expiredDate 'YYYY-DD-MM'}}
            </p>
            <p>
              {{description}}
            </p>
            <button data-action="confirm" class=" button button-clear">
              {{> ionIcon icon="close-circled"}}</button>
            {{/ionItem}}
          {{/each}}
        {{else}}
          <div class="list card">
            <div class="item item-text-wrap" align="center">
              <h2>អត់មានទិន្នន័យ</h2>
            </div>
          </div>
        {{/if}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
  {{> _data}}
</template>
