<template name="editUser">
    {{#ionModal customTemplate=true}}
        {{#autoForm schema="InterestSchema" id="editUser" doc=user}}
            <div class="bar bar-header bar-stable">
                <button data-dismiss="modal" type="button" class="button button-clear">បោះបង់</button>
                <h2 class="title">កែប្រែ អ្នកប្រើប្រាស់</h2>
                <button class="button button-positive button-clear">កែប្រែ</button>
            </div>
            <div class="content has-header overflow-scroll">
                <!--{{> afQuickField name='username'}}-->
                {{> afQuickField name='email' }}
                {{> afQuickField name='password' type='password'}}
                {{> afQuickField name='confirmPassword' type='password'}}
                <!--{{> afQuickField name='approved'}}-->
                {{> afQuickField name='roles' }}
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>
