<template name="restaurantStocks">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="restaurant.data" text="ទិន្នន័យ"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">ស្តុកទំនិញ</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <a class="button button-clear"  href="/restaurant/stocks/new">{{> ionIcon icon="ios-plus-empty"}}</a>
  {{/contentFor}}
  {{#ionContent}}
    <div class="card row">
      <div class="col col-20 text-center"><span class="positive">ថ្ងៃដាក់ទំនិញចូល</span></div>
      <div class="col col-20 text-center"><span class="positive">លេខវិក័យប័ត្រ</span></div>
      <div class="col col-20 text-center"><span class="positive">ឈ្មោះអ្នកផ្គត់ផ្គង់</span></div>
      <div class="col col-20 text-center"><span class="positive">បរិយាយ</span></div>
      <div class="col col-10 text-center"><span class="positive">ជម្រើស</span></div>

    </div>
    <div class="card">
    {{#if noStocks}}
    <div class="col" align="center">
      អត់មានទិន្នន័យ
    </div>
    {{else}}
    {{#each stocks}}
      <div class="row">
        <div class="col col-20" style="border: 1px solid #ddd;"><a href="/restaurant/{{_id}}/{{moFormat stockDate 'YYYY-MM-DD HH:mm:ss'}}/stockIn">{{moFormat stockDate 'YYYY-MM-DD HH:mm:ss'}}</a></div>
        <div class="col col-20" style="border: 1px solid #ddd;">{{voucher}}</div>
        <div class="col col-20" style="border: 1px solid #ddd;">{{_supplier.name}} | {{_supplier.phone}}</div>
        <div class="col col-20" style="border: 1px solid #ddd;">{{description}}</div>

        <div class="col col-5 text-center" style="border: 1px solid #ddd;">
          {{#if isInRole 'setting'}}
          <a href="#" class="edit-stock positive" data-ion-modal="editStock" data-id="{{_id}}">{{>ionIcon icon="edit"}}កែប្រែ</a>
          {{/if}}
        </div>
        <div class="col col-5 text-center" style="border: 1px solid #ddd;">
          {{#if isInRole 'setting'}}
          <a href="#" class="remove-stock assertive">{{>ionIcon icon="trash-b"}}លុប</a>
          {{/if}}
        </div>
      </div>
    {{/each}}
    {{#if isSkipNotEqToZero}}
    <div class="row">
      <div class="col col-33"></div>
      <div class="col col-10" align='center'>
        {{#if isSkipped}}
        <a href="#" class="previous"><i class="icon ion-ios-arrow-back"></i></a>
        {{/if}}
      </div>
      <div class="col col-10" align='center'>បានមើលរំលង​ {{skipAmount}}</div>
      <div class="col col-10" align='center'>
        {{#if smallerThanAmount}}
          <a href="#" class="next"><i class="icon ion-ios-arrow-forward"></i></a>
        {{/if}}
      </div>
      <div class="col col-33"></div>
    </div>
    {{/if}}
    {{/if}}
  </div>
  {{/ionContent}}
  {{> _data}}
</template>
