<template name="editCategory">
    {{#ionModal customTemplate=true}}
        {{#autoForm collection="Categories" doc=category id="editCategory" type="update"}}
            <div class="bar bar-header bar-stable">
                <button data-dismiss="modal" type="button" class="button button-clear">Cancel</button>
                <h2 class="title">Create Category</h2>
                <button class="button button-positive button-clear">Add</button>
            </div>
            <div class="content has-header overflow-scroll">
                {{>afQuickField name="name"}}
                {{>afQuickField name="description"}}
                {{>afQuickField name="tag"}}
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>