<template name="bookCategories">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton path="tables" text="Table"}}
    {{/contentFor}}
    {{#contentFor "headerTitle"}}
        <h1 class="title">Categories</h1>
    {{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button class="button button-clear" data-ion-modal="categoryNew">{{> ionIcon icon="ios-plus-empty"}}</button>
    {{/contentFor}}
    {{#ionView}}
        {{#ionContent}}
            {{#ionList}}
                {{#each categories}}
                    {{#ionItem buttonRight=true avatar=true }}
                        {{name}} {{description}}
                    <a class="cursor-p categoryEdit" data-ion-modal="editCategory" data-id="{{_id}}"> {{> ionIcon icon="android-create" class="positive"}}</a>
                        <button data-action="confirm" class=" button button-clear"> {{> ionIcon icon="close-circled"}}</button>

                    {{/ionItem}}
                {{/each}}
            {{/ionList}}
        {{/ionContent}}
    {{/ionView}}
</template>
