<template name="category">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="restaurant.setting" text="ការកំណត់"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">ផ្នែក</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="categoryNew">{{> ionIcon icon="ios-plus-empty"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each categories}}
          {{#ionItem buttonRight=true avatar=true }}
            <span class="cursor-p" data-ion-modal="editCategory" data-id="{{_id}}">
              {{name}}
            </span>
            <p>
              {{#if tags}}
                Tags: {{tags}}
              {{else}}
                No Tags
              {{/if}}
            </p>
            <p>
              {{description}}
            </p>
            <button data-action="confirm" class=" button button-clear">
              {{> ionIcon icon="close-circled"}}</button>

          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
