<template name="newStaff">
    {{#ionModal customTemplate=true}}
        {{#autoForm collection="Restaurant.Collection.Staffs" id="newStaff" type="insert"}}
            <div class="bar bar-header bar-stable">
                <button data-dismiss="modal" type="button" class="button button-clear">បោះបង់</button>
                <h2 class="title">បង្កើត បុគ្គលិក</h2>
                <button class="button button-positive button-clear">រក្សាទុក</button>
            </div>
            <div class="content has-header overflow-scroll">
              {{> afQuickField name='name'}}
              {{> afQuickField name='gender'}}
              {{> afQuickField name='startDate'}}
              {{> afQuickField name='position'}}
              {{> afQuickField name='salary'}}
              {{> afQuickField name='status'}}
              {{> afQuickField name='phone'}}
              {{> afQuickField name='address'}}
            </div>
        {{/autoForm}}
    {{/ionModal}}
</template>
