<template name="restaurantStaff">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="restaurant.data" text="Data"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Staff</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-modal="newStaff">{{> ionIcon icon="ios-plus-empty"}}</button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each staffs}}
          {{#ionItem  buttonRight=true avatar=true class="item-icon-right"}}
          <span class="cursor-p" data-ion-modal="editStaff" data-id="{{_id}}">
            {{name}}
          </span>
          <p>
            Gender: {{gender}}, Phone: {{phone}}, Address: {{address}}
          </p>
          <button data-action="confirm" class=" button button-clear">
            {{> ionIcon icon="close-circled"}}</button>
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
